{# index.html #}
{% extends "base.html" %}
{% block body %}
    
    
    <!--Links to the Login handler-->
    
    
    <br>

    <h1 id='big'> 10 </h1>
    <p>Current Points</p>

    <br>

    <a class="btn btn-block btn-social btn-linkedin btn-lg" href="login/linkedin">
        <span class="fa fa-linkedin"></span> Sign in with LinkedIN
    </a>

    <a class="btn btn-block btn-social btn-google btn-lg" href="login/google">
        <span class="fa fa-google"></span> Sign in with Google
    </a>

    <a class="btn btn-block btn-social btn-twitter btn-lg" href="login/tw">
        <span class="fa fa-twitter"></span> Sign in with Twitter
    </a>
    
    <a class="btn btn-block btn-social btn-facebook btn-lg" href="login/fb">
        <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>

    <a class="btn btn-block btn-social btn-instagram btn-lg" href="login/lnked">
        <span class="fa fa-instagram"></span> Sign in with Instagram
    </a>

    <a class="btn btn-block btn-social btn-github btn-lg" href="login/lnked">
        <span class="fa fa-github"></span> Sign in with Github
    </a>
    
    <a class="btn btn-block btn-social btn-reddit btn-lg" href="login/lnked">
        <span class="fa fa-reddit"></span> Sign in with Reddit
    </a>

    <a class="btn btn-block btn-social btn-pinterest btn-lg" href="login/pin">
        <span class="fa fa-pinterest"></span> Sign in with Pinterest
    </a>

    <a class="btn btn-block btn-social btn-tumblr btn-lg" href="login/linkedin">
        <span class="fa fa-tumblr"></span> Sign in with Tumblr
    </a>

{% endblock %}